<h1>Existing Users:</h1>
<form action='/login' method='POST'>
	<input type='text' value='username' name='username'>
	<input type='text' value= 'password' name='password'>
</form>

<h1>Not yet a user?</h1>
<h3>Sign up here:</h3>
<form action='/login' method='POST'>
	<input type='text' value='Create a username' name='new_username'>
	<input type='text' value= 'Create a password' name='new_password'>
</form>